footer{
    border-top: 1px solid #515151;
    background-color: #edfffa;
    position: relative;
    bottom: 0;

p{
    text-align: center;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
}