header{
    padding: 30px;
    display: flex;
    justify-content: space-between;   
    border-bottom: 1px solid gray;

    img{
        width: 200px;
    }

    nav{
        display:none;
        font-size: 25px;
    }    

    .boton-menu{        
        img{
            width: 60px;
        }
        a{
            display:none;
            font-size: 25px;
        }
    }
}